{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-8">
    <h1 class="text-3xl font-bold mb-4 text-center"><i class="fas fa-home text-blue-500 mr-2"></i>Welcome Home!</h1>
    <div class="bg-white shadow-md rounded-lg p-6">
        <p class="text-gray-700 leading-relaxed">
            This is the home page of my awesome Django project. Feel free to explore around.
            <i class="far fa-smile-beam text-yellow-500 ml-1"></i>
        </p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
            Learn More <i class="fas fa-arrow-right ml-2"></i>
        </button>
    </div>
</div>
{% endblock %}
